<div ref="aside" class="aside">
  <div class="aside-wrapper">
    <div class="aside-content">
      <%= require('~/includes/site-menu-vertical.ejs')() %>
      <div class="aside-action">
        <button class="button button-large button-filled">Отправить запрос</button>
      </div>
    </div>
  </div>
</div>
