<div class="banners-header">
  <div class="banners-header-item">
    <img src="<%= require('~/assets/img/banner.png') %>" alt="" width="400" height="60">
  </div>
  <div class="banners-header-item">
    <img src="<%= require('~/assets/img/banner.png') %>" alt="" width="400" height="60">
  </div>
</div>
