<div class="menu" :class="{
  active: cityMenu.opened
}">
  <div
    class="menu-activator has-triangle"
    @click="cityMenu.opened = !cityMenu.opened"
  >
    <div class="menu-activator-label">
      <%= require('~/includes/icon-location.ejs')() %>
      <span class="menu-activator-accent">{{ cityMenu.city }}</span>
      <span class="menu-activator-arrow"></span>
    </div>
  </div>
  <div ref="city-menu-content" class="menu-content">
    <div class="menu-content-container has-triangle">
      <ul class="menu-content-list" style="max-height: 200px;">
        <li :class="{
          active: cityMenu.city === 'Санкт-Петербург',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Санкт-Петербург'" draggable="false">
            Санкт-Петербург
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Нижний Новгород',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Нижний Новгород'" draggable="false">
            Нижний Новгород
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Новосибирск',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Новосибирск'" draggable="false">
            Новосибирск
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Краснодар',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Краснодар'" draggable="false">
            Краснодар
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Екатеринбург',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Екатеринбург'" draggable="false">
            Екатеринбург
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Новосибирск',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Новосибирск'" draggable="false">
            Новосибирск
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Краснодар',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Краснодар'" draggable="false">
            Краснодар
          </a>
        </li>
        <li :class="{
          active: cityMenu.city === 'Москва',
        }">
          <a href="#" @click.prevent="cityMenu.city = 'Москва'" draggable="false">
            Москва
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
