<footer class="footer">
  <div class="footer-top">
    <div class="container-xxl">
      <div class="row footer-top-row">
        <div class="col-xl-auto col-12 col-sm-6 footer-logo">
          <%= require('~/includes/logo.ejs')() %>
        </div>
        <div class="footer-menu col-lg col-12">
          <nav>
            <ul class="footer-menu-list">
              <li class="footer-menu-item"><a href="#">Реклама</a></li>
              <li class="footer-menu-item"><a href="#">О портале</a></li>
              <li class="footer-menu-item"><a href="#">Цены</a></li>
              <li class="footer-menu-item"><a href="#">Металлобазы</a></li>
              <li class="footer-menu-item"><a href="#">Поставщики</a></li>
              <li class="footer-menu-item"><a href="#">Аналитика</a></li>
              <li class="footer-menu-item"><a href="#">Блог</a></li>
            </ul>
          </nav>
        </div>
        <div class="footer-social col-xl-auto col-12 col-sm-6">
          <%= require('~/includes/socials.ejs')() %>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container-xxl">
      <div class="row footer-bottom-row">
        <div class="col-md-auto col-12 footer-copy">
          © 2021 Метпром - металлургический портал.
        </div>
        <div class="col-md col-12 footer-mailto">
          <div class="footer-mailto-container">
            <a href="mailto:info@metprom" class="footer-mailto-link">
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" class="footer-mailto-link-icon" style="font-size: 21px;"><path d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 110.8V792H136V270.8l-27.6-21.5l39.3-50.5l42.8 33.3h643.1l42.8-33.3l39.3 50.5l-27.7 21.5zM833.6 232L512 482L190.4 232l-42.8-33.3l-39.3 50.5l27.6 21.5l341.6 265.6a55.99 55.99 0 0 0 68.7 0L888 270.8l27.6-21.5l-39.3-50.5l-42.7 33.2z" fill="currentColor"></path></svg>
              <span class="footer-mailto-link-text">info@metprom</span>
            </a>
          </div>
        </div>
        <div class="col-md-auto col-12 footer-adv">
          Подробнее о&nbsp;<a href="#">размещении рекламы на сайте</a>
        </div>
      </div>
    </div>
  </div>
</footer>
