<div class="site-menu">
  <div class="container-xxl site-menu-container">
    <%= require('~/includes/site-menu.ejs')() %>
    <div class="site-menu-item site-menu-search">
      <div class="form-field input-wrapper">
        <div class="form-field-wrapper outlined">
          <input id="31" placeholder="Поиск" type="text" class="form-element">
          <span class="form-field-icon form-field-icon-append">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" style="font-size: 22px;"><g fill="none"><path d="M13.5 3C7.701 3 3 7.701 3 13.5S7.701 24 13.5 24c2.45 0 4.703-.839 6.489-2.244l6.878 6.878a1.25 1.25 0 1 0 1.768-1.768l-6.879-6.878A10.455 10.455 0 0 0 24 13.5C24 7.701 19.299 3 13.5 3zm-8 10.5a8 8 0 1 1 16 0a8 8 0 0 1-16 0z" fill="currentColor"></path></g></svg>
          </span>
        </div>
      </div>
    </div>
    <div class="site-menu-item site-menu-action">
      <button class="button button-filled button-large">Отправить запрос</button>
    </div>
  </div>
</div>
