<header ref="header" class="header-section">
  <div class="header">
    <div class="header-top-section">
      <%= require('~/includes/bannersHeader.ejs')() %>
    </div>
    <div class="container-xxl header-container">
      <div class="header-item header-menu-toggler" @click="onClickAside">
        <div class="header-menu-toggler-container" :class="{ active: showaside }">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="header-item header-item-logo">
        <%= require('~/includes/logo.ejs')() %>
      </div>
      <div class="header-item header-item-location">
        <%= require('~/includes/city-menu.ejs')() %>
      </div>
      <div class="header-item header-item-banners">
        <%= require('~/includes/bannersHeader.ejs')() %>
      </div>
      <div class="header-item header-item-login">
        <%= require('~/includes/login.ejs')() %>
      </div>
    </div>
  </div>
  <%= require('~/includes/header-bottom.ejs')() %>
</header>
