<svg data-v-5107ae6a="" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" class="menu-activator-icon-prepend" style="font-size: 20px;"><g stroke-width="1.5" fill="none"><path d="M20 10c0 4.418-8 12-8 12s-8-7.582-8-12a8 8 0 1 1 16 0z" stroke="currentColor"></path><path d="M12 11a1 1 0 1 0 0-2a1 1 0 0 0 0 2z" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>
