<div class="login">
  <div class="login-actions">
    <div class="login-actions-item">
      <button class="login-button-link" @click="addModal({
        id: 'login',
        title: 'Вход',
      })">
        <svg class="login-actions-item-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="font-size: 20px;"><path d="M11 7L9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5l-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z" fill="currentColor"></path></svg>
        <span class="login-actions-item-span">Вход</span>
      </button>
    </div>
    <div class="login-actions-item login-actions-item-delimiter">
      /
    </div>
    <div class="login-actions-item">
      <button class="login-button-link" @click="addModal({
        id: 'login',
        title: 'Регистрация',
      })">
        <svg class="login-actions-item-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" style="font-size: 20px;"><circle fill="none" cx="12" cy="7" r="3"></circle><path d="M12 2C9.243 2 7 4.243 7 7s2.243 5 5 5s5-2.243 5-5s-2.243-5-5-5zm0 8c-1.654 0-3-1.346-3-3s1.346-3 3-3s3 1.346 3 3s-1.346 3-3 3zm9 11v-1c0-3.859-3.141-7-7-7h-4c-3.86 0-7 3.141-7 7v1h2v-1c0-2.757 2.243-5 5-5h4c2.757 0 5 2.243 5 5v1h2z" fill="currentColor"></path></svg>
        <span class="login-actions-item-span">Регистрация</span>
      </button>
    </div>
    <div class="login-actions-item login-actions-item-search">
      <button class="login-button-link">
        <svg class="login-actions-item-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32" style="font-size: 20px;"><g fill="none"><path d="M13.5 3C7.701 3 3 7.701 3 13.5S7.701 24 13.5 24c2.45 0 4.703-.839 6.489-2.244l6.878 6.878a1.25 1.25 0 1 0 1.768-1.768l-6.879-6.878A10.455 10.455 0 0 0 24 13.5C24 7.701 19.299 3 13.5 3zm-8 10.5a8 8 0 1 1 16 0a8 8 0 0 1-16 0z" fill="currentColor"></path></g></svg>
      </button>
    </div>
  </div>
  <div class="login-actions login-actions-form">
    <div class="form-field input-wrapper">
      <div class="form-field-wrapper small outlined">
        <input id="16" placeholder="Логин" type="text" class="form-element">
      </div>
    </div>
    <div class="form-field input-wrapper">
      <div class="form-field-wrapper small outlined">
        <input id="18" placeholder="Пароль" type="text" class="form-element">
      </div>
    </div>
    <button class="button button-filled">Войти</button>
  </div>
</div>
