<div class="logo">
  <div class="logo-img"></div>
  <div class="logo-content">
    <div class="logo-content-title">Метпром</div>
    <div class="logo-content-subtitle">Металлургический портал</div>
  </div>
</div>
