<main>
  <div class="container-xxl main-container">
    <div class="grid">
      <div class="grid-item grid-item-bordered main-grid-section-price">
        <%= require('~/includes/section-price.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-plot">
        <%= require('~/includes/section-plot.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-seller">
        <%= require('~/includes/section-seller.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-banner1">
        <%= require('~/includes/section-banners-main.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-banner2">
        <%= require('~/includes/section-banners-main.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-map">
        <%= require('~/includes/section-map.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-banner3">
        <%= require('~/includes/section-banners-main.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-banner4">
        <%= require('~/includes/section-banners-main.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-calc">
        <%= require('~/includes/section-calc.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-seo">
        <%= require('~/includes/section-seo.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-adv">
        <%= require('~/includes/section-adv.ejs')() %>
      </div>

      <div class="grid-item grid-item-bordered main-grid-section-blog">
        <%= require('~/includes/section-blog.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-news">
        <%= require('~/includes/section-news.ejs')() %>
      </div>
      <div class="grid-item grid-item-bordered main-grid-section-stat">
        <%= require('~/includes/section-stat.ejs')() %>
      </div>
    </div>
  </div>
</main>
