<transition name="fade">
  <div :class="{ 'modal-wrapper-showed': modals.some((m) => m.id === 'login') }" class="modal-wrapper" @click.self="DEL_MODAL('login')">
    <div class="modal">
      <div class="modal-close" @click="DEL_MODAL('login')"></div>
      <div class="modal-content">
        <h3 class="title">{{ modals.filter((m) => m.id === 'login')?.[0]?.title }}</h3>
        <div class="signup">
          <div class="signup-subtitle">Получи данные поставщиков и заказчиков</div>
          <form class="signup-form" @submit.prevent>
            <div class="form-field input-wrapper signup-form-item">
              <div class="form-field-wrapper outlined">
                <input id="225" placeholder="Ваш E-mail" type="text" class="form-element">
              </div>
            </div>
            <div class="form-field input-wrapper signup-form-item">
              <div class="form-field-wrapper outlined">
                <input id="227" placeholder="Ваш телефон" type="text" class="form-element">
              </div>
            </div>
            <div class="signup-form-item">
              <input class="checkbox-input" type="checkbox" name="" id="228">
              <label class="checkbox-label" for="228">Я принимаю условия&nbsp;
                <a href="#">Политики конфиденциальности</a>
                &nbsp;и даю своё согласие на обработку персональных данных.
              </label>
            </div>
            <button class="button button-filled button-large">Зарегистрироваться</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</transition>
