<section>
  <h3 class="title title-accent">Объявления</h3>
  <div class="section-content">
    <article v-for="(item, i) in Array(3)" :key="i" class="article article-delimited">
      <div class="article-head">
        <div class="article-date">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024" class="article-date-icon" style="font-size: 24px;"><path d="M880 184H712v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H384v-64c0-4.4-3.6-8-8-8h-56c-4.4 0-8 3.6-8 8v64H144c-17.7 0-32 14.3-32 32v664c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V216c0-17.7-14.3-32-32-32zm-40 656H184V460h656v380zM184 392V256h128v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h256v48c0 4.4 3.6 8 8 8h56c4.4 0 8-3.6 8-8v-48h128v136H184z" fill="currentColor"></path></svg>
          <span class="article-date-text">09.07.2021</span>
        </div>
        <div class="article-action">
          <button class="button button-outlined button-action">
            Ответить на объявление
          </button>
        </div>
      </div>
      <div class="article-title">
        Арматура 28 мм А500С 11.7 метров
      </div>
      <div class="article-content">Трубы стальные, электросварные 6/530 Трубы стальные, электросварные 4,5/159 Трубы стальные, </div>
    </article>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Все объявления
    </button>
  </div>
</section>
