<section>
  <h3 class="title title-accent">График и прогноз цен</h3>
  <div class="section-content">
    <form @submit.prevent="onSubmit" class="section-plot-form">
      <div class="form-field select-wrapper section-plot-form-item">
        <div class="form-field-wrapper small outlined full">
          <div class="menu form-element small" :class="{
            active: sectionPlot.nameSelectOpen
          }">
            <div
              class="menu-activator"
              @click="sectionPlot.nameSelectOpen = !sectionPlot.nameSelectOpen"
            >
              <div class="menu-activator-label">
                <span class="">Название</span>
                <span class="menu-activator-arrow"></span>
              </div>
            </div>
            <div ref="plot-name-select-menu-content" class="menu-content" style="max-height: 0px;">
              <div class="menu-content-container">
                <ul class="menu-content-list" style="max-height: 170px;">
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Швеллер</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Уголок</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Проволока</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Трубы</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-field select-wrapper section-plot-form-item">
        <div class="form-field-wrapper small outlined full">
          <div class="menu form-element small" :class="{
            active: sectionPlot.classSelectOpen
          }">
            <div
              class="menu-activator"
              @click="sectionPlot.classSelectOpen = !sectionPlot.classSelectOpen"
            >
              <div class="menu-activator-label">
                <span class="">Класс</span>
                <span class="menu-activator-arrow"></span>
              </div>
            </div>
            <div ref="plot-class-select-menu-content" class="menu-content" style="max-height: 0px;">
              <div class="menu-content-container">
                <ul class="menu-content-list" style="max-height: 170px;">
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Швеллер</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Уголок</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Проволока</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Трубы</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-field select-wrapper section-plot-form-item">
        <div class="form-field-wrapper small outlined full">
          <div class="menu form-element small" :class="{
            active: sectionPlot.sizeSelectOpen
          }">
            <div
              class="menu-activator"
              @click="sectionPlot.sizeSelectOpen = !sectionPlot.sizeSelectOpen"
            >
              <div class="menu-activator-label">
                <span class="">Размер</span>
                <span class="menu-activator-arrow"></span>
              </div>
            </div>
            <div ref="plot-size-select-menu-content" class="menu-content" style="max-height: 0px;">
              <div class="menu-content-container">
                <ul class="menu-content-list" style="max-height: 170px;">
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Швеллер</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Уголок</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Проволока</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Трубы</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Арматура</a>
                  </li>
                  <li class="">
                    <a href="#" draggable="false">Балка</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <Chart :chart-data="plotChartData" :options="plotChartOptions" />
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Смотреть все
    </button>
  </div>
</section>
