<section>
  <h3 class="title title-accent">Прайс лист</h3>
  <div class="section-content">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Наименование</th>
            <th>Цена</th>
            <th>поставщик</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in Array(8)" :key="i">
            <td class="d-none d-table-cell-md">Арматура 16 мм А500С 11.7 метров</td>
            <td class="d-none d-table-cell-md"><strong>57990 руб.</strong></td>
            <td class="d-none d-table-cell-md">Северсталь</td>
            <td class="d-none-md" colspan="3">
              <div>Арматура 16 мм А500С 11.7 метров</div>
              <div class="section-price-table-under-name">
                <span class="section-price-table-under-name-span"><strong>57990 руб.</strong></span>
                <span class="section-price-table-under-name-span">Северсталь</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Все прайс листы
    </button>
  </div>
</section>
