<section>
  <h3 class="title title-accent">Блог</h3>
  <div class="section-content">
    <article class="article article-delimited">
      <div class="article-image">
        <img src="<%= require('~/assets/img/blog.png') %>">
      </div>
      <div class="article-head">
        <div class="article-date">
          <span class="article-date-text">09.07.2021</span>
        </div>
      </div>
      <div class="article-title">
        Анализ рынка металлов. Лето 2021
      </div>
      <div class="article-content">Тенденции развития российского рынка металлов тесно увязаны с развитием общемировой ситуации в сфере производства широкого спектра металлов и проката.</div>
    </article>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Смотреть все
    </button>
  </div>
</section>
