<section>
  <h3 class="title title-accent">Поставщики</h3>
  <div class="section-content">
    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Поставщик</th>
            <th>Регион</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in Array(6)" :key="i">
            <td>
              <div>
                <img src="<%= require('~/assets/img/severstal.jpg') %>" alt="">
              </div>
            </td>
            <td>
              <div class="section-seller-location-item">
                Россия
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Все поставщики
    </button>
  </div>
</section>
