<div class="calc">
  <h3 class="title calc-title">
    Металлургический
    <br>калькулятор
  </h3>
  <form @submit.prevent="onSubmit" class="calc-form">
    <div class="form-field select-wrapper">
      <div class="form-field-wrapper outlined">
        <div class="menu form-element" :class="{
          active: sectionCalc.catSelectOpen
        }">
          <div
            class="menu-activator"
            @click="sectionCalc.catSelectOpen = !sectionCalc.catSelectOpen"
          >
            <div class="menu-activator-label">
              <span class="">Категория</span>
              <span class="menu-activator-arrow"></span>
            </div>
          </div>
          <div ref="calc-cat-select-menu-content" class="menu-content" style="max-height: 0px;">
            <div class="menu-content-container">
              <ul class="menu-content-list" style="max-height: 150px;">
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-field select-wrapper">
      <div class="form-field-wrapper outlined">
        <div class="menu form-element" :class="{
          active: sectionCalc.partSelectOpen
        }">
          <div
            class="menu-activator"
            @click="sectionCalc.partSelectOpen = !sectionCalc.partSelectOpen"
          >
            <div class="menu-activator-label">
              <span class="">Номенклатура</span>
              <span class="menu-activator-arrow"></span>
            </div>
          </div>
          <div ref="calc-part-select-menu-content" class="menu-content" style="max-height: 0px;">
            <div class="menu-content-container">
              <ul class="menu-content-list" style="max-height: 150px;">
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
                <li class=""><a href="#" draggable="false"> One </a></li>
                <li class=""><a href="#" draggable="false"> Two </a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-field input-wrapper">
      <label for="87" class="form-field-label">Длина, м</label>
      <div class="form-field-wrapper outlined">
        <input id="87" placeholder="Введите длину" type="number" class="form-element">
      </div>
    </div>
    <div class="form-field input-wrapper">
      <label for="87" class="form-field-label">Масса, кг</label>
      <div class="form-field-wrapper outlined">
        <input id="87" placeholder="Введите вес" type="number" class="form-element">
      </div>
    </div>
  </form>
</div>
