<section>
  <h3 class="title title-accent">Сео текст</h3>
  <div class="section-content">
    <p class="p p-excerpt" style="max-height: 500px;">
      Компания «Орлинк Металл» – производитель и поставщик качественного металлопроката. Мы работаем на рынке металлопроката с 2015 года и за это время зарекомендовали себя как надежный и лояльный партнер. Наши клиенты – строительные компании, металлотрейдеры, машиностроительные заводы, железобетонные комбинаты, коммунальные хозяйства, группы и объединения компаний, а также частные лица. Предоставляем возможность приобрести металлопрокат оптом и в розницу. Всех покупателей мы обеспечиваем качественным товаром по комфортным ценам, а также полным сервисом – упаковкой, доставкой, погрузкой и разгрузкой, нарезкой металлопроката и другими услугами.  Компания «Орлинк Металл» – производитель и поставщик качественного металлопроката.
Мы работаем на рынке металлопроката с 2015 года и за это время зарекомендовали себя как надежный и лояльный партнер. Наши клиенты – строительные компании, металлотрейдеры, машиностроительные заводы, железобетонные комбинаты, коммунальные хозяйства, группы и объединения компаний, а также частные лица. Предоставляем возможность приобрести металлопрокат оптом и в розницу. Всех покупателей мы обеспечиваем качественным товаром по комфортным ценам, а также полным сервисом – упаковкой, доставкой, погрузкой и разгрузкой, нарезкой металлопроката и другими услугами. Всех покупателей мы обеспечиваем качественным товаром по комфортным ценам, а также полным сервисом – упаковкой, доставкой, погрузкой и разгрузкой, нарезкой металлопроката и другими услугами.  Компания «Орлинк
    </p>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Читать полностью
    </button>
  </div>
</section>
