<section>
  <h3 class="title title-accent">Аналитика</h3>
  <div class="section-content">
    <article class="article">
      <div class="article-image">
        <img src="<%= require('~/assets/img/stat.png') %>">
      </div>
      <div class="article-head">
        <div class="article-date">
          <span class="article-date-text">09.07.2021</span>
        </div>
      </div>
      <div class="article-title">
        МеталлоКонструкции'2021
      </div>
      <div class="article-content">Основным грядущим событием рынка метизов 2020 года станет конференция - «Качественный крепёж - надежность машин и металлоконструкций». Это</div>
    </article>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Вся аналитика
    </button>
  </div>
</section>
