<section>
  <h3 class="title title-accent">Новости</h3>
  <div class="section-content">
    <article
      class="article-alt"
      style="background: linear-gradient(180deg, rgba(32, 32, 32, 0) 0%, #202020 100%), url('<%= require('~/assets/img/news.png') %>');"
    >
      <div class="article-alt-head">
        <div class="article-alt-date">
          <span class="article-alt-date-text">09.07.2021</span>
        </div>
      </div>
      <div class="article-alt-title">
        <a href="#">Рынок метизов - направление развития импортозамещения в 2020 году</a>
      </div>
    </article>
  </div>
  <div class="section-action">
    <button class="button button-text button-alt">
      Все новости
    </button>
  </div>
</section>
