<nav class="nav site-menu-item site-menu-nav" :class="{ vertical: siteMenu.vertical }">
  <ul class="nav-ul">
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Реклама'),
      }"
    >
      <button class="button button-text"><span>Реклама</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('О портале'),
      }"
    >
      <button class="button button-text"><span>О портале</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Цены'),
      }"
    >
      <button class="button button-text"><span>Цены</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Металлобазы'),
      }"
    >
      <button class="button button-text"><span>Металлобазы</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Поставщики'),
      }"
    >
      <button class="button button-text"><span>Поставщики</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Аналитика'),
      }"
    >
      <button class="button button-text"><span>Аналитика</span></button>
    </li>
    <li
      class="nav-item"
      :class="{
        'nav-item-active': siteMenu.active.includes('Блог'),
      }"
    >
      <button class="button button-text"><span>Блог</span></button>
    </li>
  </ul>
</nav>
