<div class="social">
  <div class="social-item-container">
    <div class="social-item">
      <img class="social-image" src="<%= require('~/assets/img/inst.png') %>" alt="">
    </div>
  </div>
  <div class="social-item-container">
    <div class="social-item">
      <img class="social-image" src="<%= require('~/assets/img/face.png') %>" alt="">
    </div>
  </div>
  <div class="social-item-container">
    <div class="social-item">
      <img class="social-image" src="<%= require('~/assets/img/twit.png') %>" alt="">
    </div>
  </div>
  <div class="social-item-container">
    <div class="social-item">
      <img class="social-image" src="<%= require('~/assets/img/yout.png') %>" alt="">
    </div>
  </div>
</div>
