/* scrollbar */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  // background: linear-gradient(90deg, rgba(0,0,0,0) 25%, $line 25%, $line 75%, rgba(0,0,0,0) 75%);
  border-left: 1px solid $line;
  border-top: 1px solid $line;
}

*::-webkit-scrollbar-thumb {
  background-color: $blue;
}

/* end scrolllbar */

/* common */

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.align-items-center {
  display: flex;
  align-items: center;
}
