html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: $font;
}

* {
  font-family: inherit;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $htext;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: unset;
}

a {
  text-decoration: unset;
  color: $blue;
  transition: all .2s ease-in-out;

  &:hover {
    color: $dark-blue;
  }
}
