// https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1630px
) !default;

$blue: #5893FB;
$dark-blue: #203B87;
$grey: #F4F7F8;
$line: #C7D0D2;
$text-light: #6B6B6B;
$text: #3A3A3F;
$htext: #202020;
$white: #ffffff;
$text-light: #6B6B6B;

$font: 'IBM Plex Sans', sans-serif;

$gutter: 30px;

$grid-columns: 12;

$gap-height: 30px;