.article {
  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-image {
    display: flex;
    margin-bottom: 15px;

    &>img {
      width: 100%;
    }
  }

  &-date {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 8px;
    }

    &-text {
      font-size: 10px;
      color: $text-light;
    }
  }

  &-title {
    margin: 8px 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 1.5;

    @include media-breakpoint-up('md') {
      font-size: 14px;
    }

    a {
      color: $htext;
      font-size: inherit;
      line-height: inherit;

      &:hover {
        color: $dark-blue;
      }
    }
  }

  &-content {
    font-size: 12px;
    line-height: 1.5;

    @include media-breakpoint-up('md') {
      font-size: 13px;
    }
  }

  &-delimited:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px dashed $line;
  }
}
