.article-alt {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 373px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 25px 17px;

  @include media-breakpoint-up('md') {
    padding: 25px 37px;
  }

  &-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-date {
    display: flex;
    align-items: center;

    &-icon {
      margin-right: 8px;
    }

    &-text {
      font-size: 10px;
      color: $white;
    }
  }

  &-title {
    margin: 8px 0;
    font-weight: bold;
    font-size: 17px;

    @include media-breakpoint-up('md') {
      font-size: 22px;
    }

    a {
      color: $white;
      font-size: inherit;
      line-height: 1.4;
      font-weight: bold;
    }
  }
}
