.aside {
  position: absolute;
  top: var(--header-height);
  left: -100%;
  height: calc(100% - var(--header-height));
  width: 100%;
  background-color: $white;

  &-wrapper {
    height: 100%;
    overflow: auto;
  }

  &-content {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}
