.banners-header {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;

  &.empty {
    padding-top: 0;
  }

  &-item {
    margin-right: 0;
    flex: 1 1 auto;
    width: 100%;
    text-align: center;

    @include media-breakpoint-up('sm') {
      flex: 1 0 0%;
      margin-right: 8px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
