.banners-main {
  display: flex;
  flex-wrap: wrap;

  &-item {
    margin-right: 0;
    flex: 1 1 auto;
    width: 100%;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }
}
