.button {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  background-color: unset;
  outline: unset;
  box-shadow: unset;
  border: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 0 8px;
  font-family: $font;
  user-select: none;
  transition: all .3s ease-in-out;

  &-text {
    padding: 0;
    &:hover, &:active {
      color: $dark-blue;
    }
  }

  &-filled {
    background-color: $blue;
    color: $white;

    &:hover, &:active {
      background-color: $dark-blue;
    }
  }
  &-outlined {
    @include bordered();

    &:hover, &:active {
      border-color: $dark-blue;
    }
  }

  &-large {
    padding: 15px 34px;
  }

  &-alt {
    text-transform: unset;
    color: $blue;
    padding-right: 24px;

    &::after {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      right: 0;
      bottom: 0;
      background: no-repeat center / 100% url('~/assets/img/arrow-alt.svg');
    }
  }

  &-action {
    height: 27px;
    text-transform: unset;
    font-weight: normal;
    font-size: 12px;
    border-color: $blue;

    &:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
}
