.calc {
  background: $grey no-repeat bottom right / auto url('~/assets/img/calc.png');
  padding: 30px 20px;
  min-height: 467px;

  &-title {
    margin-bottom: 30px;
  }

  &-form {
    &>*:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
