.checkbox-input:checked,
.checkbox-input:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox-input:checked + .checkbox-label,
.checkbox-input:not(:checked) + .checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.checkbox-input:checked + .checkbox-label:before,
.checkbox-input:not(:checked) + .checkbox-label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
  border: 1px solid $line;
  background-color: $white;
}

.checkbox-input:checked + .checkbox-label:before {
  border: 1px solid $blue;
}

.checkbox-input:checked + .checkbox-label:after,
.checkbox-input:not(:checked) + .checkbox-label:after {
  content: "";
  position: absolute;
  transition: opacity 0.2s ease-in-out;
}

.checkbox-input:checked + .checkbox-label:after,
.checkbox-input:not(:checked) + .checkbox-label:after {
  left: 4px;
  top: 4px;
  width: 12px;
  height: 7px;
  border-left: 2px solid $blue;
  border-bottom: 2px solid $blue;
  transform: rotate(-45deg);
}

.checkbox-input:not(:checked) + .checkbox-label:after {
  opacity: 0;
}

.checkbox-input:checked + .checkbox-label:after {
  opacity: 1;
}
