@mixin make-col($size: false, $columns: $grid-columns) {
  @if $size {
    flex: 0 0 auto;
    width: percentage($size / $columns);
    padding: 0 $gutter * .5;

  } @else {
    flex: 1 1 0;
    max-width: 100%;
    padding: 0 $gutter * .5;
  }
}

@mixin make-col-auto() {
  flex: 0 0 auto;
  width: auto;
  padding: 0 $gutter * .5;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .col#{$infix} {
      flex: 1 0 0%; // Flexbugs #4: https://github.com/philipwalton/flexbugs#flexbug-4
      padding: 0 $gutter * .5;
    }

    .col#{$infix}-auto {
      @include make-col-auto();
    }

    @if $grid-columns > 0 {
      @for $i from 1 through $grid-columns {
        .col#{$infix}-#{$i} {
          @include make-col($i, $grid-columns);
        }
      }
    }
  }
}
