.container {
  width: 100%;
  padding-right: $gutter * .5;
  padding-left: $gutter * .5;
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $container-max-width in $grid-breakpoints {
    &-#{$breakpoint} {
      @extend .container;
    }

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      &-#{$breakpoint} {
        max-width: $container-max-width;
      }
    }
  }
}
