@each $breakpoint in map-keys($grid-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

  @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
    .d-none#{$infix} {
      display: none;
    }

    .d-table-cell#{$infix} {
      display: table-cell;
    }
  }
}
