.footer {
  --gap: 15px;
  --gap-other: 5px;

  &-top {
    background-color: $grey;

    &-row {
      min-height: 120px;
      padding: var(--gap) 0;
    }
  }

  &-bottom {
    font-size: 13px;

    &-row {
      min-height: 50px;
      padding: var(--gap-other) 0;
    }
  }

  &-mailto-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    @include media-breakpoint-up('md') {
      justify-content: center;
    }
  }

  &-mailto-link {
    display: flex;
    align-items: center;
    height: 100%;

    &-icon {
      margin-right: 10px;
    }
  }

  &-menu-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-menu-item {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: $htext;

    a {
      color: inherit;
    }
  }

  &-logo {
    margin: var(--gap) 0;
    display: flex;
    align-items: center;
  }

  &-social {
    margin: var(--gap) 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include media-breakpoint-up('sm') {
      justify-content: flex-end;
    }
  }

  &-menu {
    margin: var(--gap) 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: unset;

    @include media-breakpoint-up('sm') {
      order: 3;
    }

    @include media-breakpoint-up('xl') {
      order: unset;
    }
  }

  &-copy, &-mailto, &-adv {
    display: flex;
    align-items: center;
    margin: var(--gap-other) 0;
  }
}
