.form-field {
  display: flex;
  align-items: center;

  &-label {
    padding: 0 20px;
    flex: 0 0 auto;
    width: auto;
    font-size: 18px;
    font-weight: bold;
  }

  &-wrapper {
    position: relative;
    background-color: $white;
    transition: all .3s ease-in-out;
    display: flex;
    width: 100%;
    padding: 0 0 0 0;
    height: 48px;
  }

  &-icon {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    padding: 0 13px;
  }

  &-wrapper.small {
    font-size: 12px;
    height: 30px;
    max-width: 100px;
  }

  &-wrapper.outlined {
    @include bordered();

    &.focused {
      border-color: $htext;
    }
  }

  &-wrapper.full {
    max-width: unset;
    width: 100%;
  }
}
