.grid-item {

  @mixin make-grid-col($i, $type: 'column', $columns: $grid-columns) {
    grid-#{$type}: $i;
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      @include make-grid-col(var(--row#{$infix}), 'row', $grid-columns);

      margin-top: calc(var(--gap-row#{$infix}) * #{$gap-height});
    }
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      @include make-grid-col(var(--col#{$infix}), 'column', $grid-columns);

      &-bordered {
        --not#{$infix}-first: calc(var(--col#{$infix}-first) * -1 + 1);
        --not#{$infix}-last: calc(var(--col#{$infix}-last) * -1 + 1);
        border-right: calc(1px * var(--not#{$infix}-last)) solid $line;
        padding-right: calc(15px * var(--not#{$infix}-last));
        padding-left: calc(15px * var(--not#{$infix}-first));
      }
    }
  }
}
