@use "sass:color";

.header-section {
  @include shadowed();
}

.header {
  --main-header-height: 52px;
  background-color: $grey;

  &-top-section {
    padding-left: 15px;
    padding-right: 15px;
    display: block;

    @include media-breakpoint-up('xl') {
      display: none;
    }
  }

  @include media-breakpoint-up('sm') {
    --main-header-height: 70px;
  }

  @include media-breakpoint-up('xl') {
    --main-header-height: 98px;
  }

  &-item {
    width: 100%;
    display: flex;
    align-items: center;

    &-logo {
      flex: 1 1 auto;
      width: auto;
      // max-width: 336px;

      @include media-breakpoint-up('xl') {
        flex: 0 0 auto;
        width: auto;
        min-width: 336px;
      }
    }

    &-location {
      flex: 1 1 auto;
      width: auto;
      display: none;

      @include media-breakpoint-up('sm') {
        display: flex;
      }

      @include media-breakpoint-up('xl') {
        flex: 0 0 auto;
      }
    }

    &-banners {
      padding: 0 16px 0 30px;
      display: none;

      &>*{
        padding-top: 0;
      }

      @include media-breakpoint-up('xl') {
        display: flex;
      }
    }

    &-login {
      flex: 0 0 auto;
      width: auto;
      padding: 19px 0;
    }
  }

  &-menu-toggler {
    margin-left: $gutter * -0.5;
    display: flex;
    cursor: pointer;
    padding: 0 $gutter * 0.5;
    width: auto;

    @include media-breakpoint-up('xl') {
      display: none;
    }
  }

  &-menu-toggler-container {
    width: 18px;
    height: 16px;
    position: relative;

    span {
      width: 18px;
      height: 2px;
      position: absolute;
      top: 0;
      background: $htext;
      transition: all .2s ease-out;

      &:nth-child(2) {
        top: calc(50% - 1px);
        background: linear-gradient(
          90deg,
          $htext 40%,
          color.scale($htext, $alpha: -100%) 40%,
          color.scale($htext, $alpha: -100%) 60%,
          $htext 60%);
      }

      &:nth-child(3) {
        top: calc(100% - 2px);
      }
    }

    &.active span {
      top: calc(50% - 1px);
      width: 20px;
      transform: rotate(45deg);

      &:nth-child(2) {
        opacity: 0;
        transform: scaleX(1.5);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  &-container {
    display: flex;
    height: var(--main-header-height);
  }

  &-logo {
    width: 100%;
    max-width: 356px;
  }
}
