.input {
  &-wrapper {
    position: relative;
    display: flex;
    width: 100%;
  }

  &-wrapper .form-element {
    padding: 0 20px;
    font-size: inherit;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: inherit;
    outline: unset;
    border-radius: unset;
    flex: 1 0 0%;
  }

  &-wrapper .small .form-element {
    padding: 0 12px;
  }
}
