.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  &-button-link {
    background-color: unset;
    outline: unset;
    box-shadow: unset;
    border: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
    user-select: none;
    transition: all .15s ease-in-out;

    &:hover {
      color: $blue;
      text-decoration: underline;
    }
  }

  &-actions {
    display: flex;
  }

  &-actions-form {
    display: none;
    margin-top: auto;

    @include media-breakpoint-up('xl') {
      display: flex;
    }
  }

  &-actions-form>*:not(:last-child) {
    margin-right: 5px;
  }

  &-actions-item {
    display: flex;
    align-items: center;

    &:not(:first-child) {
      padding-left: 10px;

      @include media-breakpoint-up('sm') {
        padding-left: 0;
      }
    }

    &:not(:last-child) {
      padding-right: 10px;

      @include media-breakpoint-up('sm') {
        padding-right: 0;
      }
    }

    &-span {
      padding: 0 10px;
      display: none;

      @include media-breakpoint-up('sm') {
        display: inline;
      }
    }

    &-svg {
      font-size: 22px!important;
      @include media-breakpoint-up('lg') {
        font-size: 20px!important;
      }
    }
  }

  &-actions-item-delimiter {
    display: none;
    padding: 0 5px!important;

    @include media-breakpoint-up('sm') {
      display: inline;
    }
  }

  &-actions-item-search {
    display: inline;
    @include media-breakpoint-up('xl') {
      display: none;
    }
  }
}
