.logo {
  --size: 32px;
  --title-size: 20px;
  --subtitle-size: 5.5px;
  display: flex;

  @include media-breakpoint-up('sm') {
    --size: 45px;
    --title-size: 27px;
    --subtitle-size: 7.6px;
  }

  @include media-breakpoint-up('lg') {
    --size: 59px;
    --title-size: 36px;
    --subtitle-size: 10px;
  }

  & * {
    user-select: none;
  }

  &-img {
    width: var(--size);
    height: var(--size);
    background-color: $blue;
  }

  &-content {
    display: flex;
    flex-direction: column;
    padding: 0 calc(var(--title-size) / 2);

    &-title {
      font-size: var(--title-size);
      font-weight: bold;
      line-height: 1.4;
      margin-top: -7px;
    }

    &-subtitle {
      font-size: var(--subtitle-size);
      text-transform: uppercase;
      letter-spacing: calc(var(--subtitle-size) * 0.055);
    }
  }
}
