.main {
  &-container {
    padding-top: 51px;
    padding-bottom: 63px;
  }

  &-grid-section-price {
    --row:1; --row-xs:1; --row-sm:1; --row-md:1; --row-lg:1; --row-xl:1; --row-xxl:1; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/13; --col-lg:1/6; --col-xl:1/6; --col-xxl:1/6; --gap-row:0; --gap-row-xs:0; --gap-row-sm:0; --gap-row-md:0; --gap-row-lg:0; --gap-row-xl:0; --gap-row-xxl:0; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:1; --col-lg-first:1; --col-lg-last:0; --col-xl-first:1; --col-xl-last:0; --col-xxl-first:1; --col-xxl-last:0;
  }

  &-grid-section-plot {
    --row:2; --row-xs:2; --row-sm:2; --row-md:2; --row-lg:1; --row-xl:1; --row-xxl:1; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/7; --col-lg:6/10; --col-xl:6/10; --col-xxl:6/10; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:0; --gap-row-xl:0; --gap-row-xxl:0; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:0; --col-lg-first:0; --col-lg-last:0; --col-xl-first:0; --col-xl-last:0; --col-xxl-first:0; --col-xxl-last:0;
  }

  &-grid-section-seller {
    --row:4; --row-xs:4; --row-sm:4; --row-md:2; --row-lg:1; --row-xl:1; --row-xxl:1; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:7/13; --col-lg:10/13; --col-xl:10/13; --col-xxl:10/13; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:0; --gap-row-xl:0; --gap-row-xxl:0; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:0; --col-md-last:1; --col-lg-first:0; --col-lg-last:1; --col-xl-first:0; --col-xl-last:1; --col-xxl-first:0; --col-xxl-last:1;
  }

  &-grid-section-banner1 {
    --row:3; --row-xs:3; --row-sm:3; --row-md:3; --row-lg:2; --row-xl:2; --row-xxl:2; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/7; --col-lg:1/4; --col-xl:1/4; --col-xxl:1/4; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:0; --col-lg-first:1; --col-lg-last:0; --col-xl-first:1; --col-xl-last:0; --col-xxl-first:1; --col-xxl-last:0;
  }

  &-grid-section-banner2 {
    --row:6; --row-xs:6; --row-sm:6; --row-md:3; --row-lg:3; --row-xl:3; --row-xxl:3; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:7/13; --col-lg:1/4; --col-xl:1/4; --col-xxl:1/4; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:0; --gap-row-xl:0; --gap-row-xxl:0; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:0; --col-md-last:1; --col-lg-first:1; --col-lg-last:0; --col-xl-first:1; --col-xl-last:0; --col-xxl-first:1; --col-xxl-last:0;
  }

  &-grid-section-map {
    --row:5; --row-xs:5; --row-sm:5; --row-md:4; --row-lg:2/4; --row-xl:2/4; --row-xxl:2/4; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/13; --col-lg:4/10; --col-xl:4/10; --col-xxl:4/10; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:1; --col-lg-first:0; --col-lg-last:0; --col-xl-first:0; --col-xl-last:0; --col-xxl-first:0; --col-xxl-last:0;
  }

  &-grid-section-banner3 {
    --row:9; --row-xs:9; --row-sm:9; --row-md:7; --row-lg:2; --row-xl:2; --row-xxl:2; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/7; --col-lg:10/13; --col-xl:10/13; --col-xxl:10/13; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:0; --col-lg-first:0; --col-lg-last:1; --col-xl-first:0; --col-xl-last:1; --col-xxl-first:0; --col-xxl-last:1;
  }

  &-grid-section-banner4 {
    --row:12; --row-xs:12; --row-sm:12; --row-md:7; --row-lg:3; --row-xl:3; --row-xxl:3; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:7/13; --col-lg:10/13; --col-xl:10/13; --col-xxl:10/13; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:0; --gap-row-xl:0; --gap-row-xxl:0; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:0; --col-md-last:1; --col-lg-first:0; --col-lg-last:1; --col-xl-first:0; --col-xl-last:1; --col-xxl-first:0; --col-xxl-last:1;
  }

  &-grid-section-calc {
    --row:7; --row-xs:7; --row-sm:7; --row-md:5; --row-lg:4; --row-xl:4; --row-xxl:4; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/7; --col-lg:1/4; --col-xl:1/4; --col-xxl:1/4; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:0; --col-lg-first:1; --col-lg-last:0; --col-xl-first:1; --col-xl-last:0; --col-xxl-first:1; --col-xxl-last:0;
  }

  &-grid-section-seo {
    --row:8; --row-xs:8; --row-sm:8; --row-md:6; --row-lg:4; --row-xl:4; --row-xxl:4; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/13; --col-lg:4/10; --col-xl:4/10; --col-xxl:4/10; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:1; --col-lg-first:0; --col-lg-last:0; --col-xl-first:0; --col-xl-last:0; --col-xxl-first:0; --col-xxl-last:0;
  }

  &-grid-section-adv {
    --row:10; --row-xs:10; --row-sm:10; --row-md:5; --row-lg:4; --row-xl:4; --row-xxl:4; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:7/13; --col-lg:10/13; --col-xl:10/13; --col-xxl:10/13; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:0; --col-md-last:1; --col-lg-first:0; --col-lg-last:1; --col-xl-first:0; --col-xl-last:1; --col-xxl-first:0; --col-xxl-last:1;
  }

  &-grid-section-blog {
    --row:11; --row-xs:11; --row-sm:11; --row-md:8; --row-lg:5; --row-xl:5; --row-xxl:5; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/7; --col-lg:1/4; --col-xl:1/4; --col-xxl:1/4; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:0; --col-lg-first:1; --col-lg-last:0; --col-xl-first:1; --col-xl-last:0; --col-xxl-first:1; --col-xxl-last:0;
  }

  &-grid-section-news {
    --row:13; --row-xs:13; --row-sm:13; --row-md:9; --row-lg:5; --row-xl:5; --row-xxl:5; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:1/13; --col-lg:4/10; --col-xl:4/10; --col-xxl:4/10; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:1; --col-md-last:1; --col-lg-first:0; --col-lg-last:0; --col-xl-first:0; --col-xl-last:0; --col-xxl-first:0; --col-xxl-last:0;
  }

  &-grid-section-stat {
    --row:14; --row-xs:14; --row-sm:14; --row-md:8; --row-lg:5; --row-xl:5; --row-xxl:5; --col:1/13; --col-xs:1/13; --col-sm:1/13; --col-md:7/13; --col-lg:10/13; --col-xl:10/13; --col-xxl:10/13; --gap-row:1; --gap-row-xs:1; --gap-row-sm:1; --gap-row-md:1; --gap-row-lg:1; --gap-row-xl:1; --gap-row-xxl:1; --col-first:1; --col-last:1; --col-xs-first:1; --col-xs-last:1; --col-sm-first:1; --col-sm-last:1; --col-md-first:0; --col-md-last:1; --col-lg-first:0; --col-lg-last:1; --col-xl-first:0; --col-xl-last:1; --col-xxl-first:0; --col-xxl-last:1;
  }
}
