.menu {
  position: relative;
  height: 100%;

  & * {
    user-select: none;
  }

  &-activator {
    height: 100%;
    font-size: 20px;
    cursor: pointer;

    &-icon {
      &-prepend {
        margin-right: .5rem;
      }
    }

    &-label {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 20px;
    }

    &-accent {
      font-weight: bold;
    }

    &-arrow {
      width: 11px;
      height: 5.5px;
      margin-left: .5rem;
      background: no-repeat center / cover url(~/assets/img/arrow.svg);
      transform: rotate(0deg);
      transition: transform .2s ease-in-out;
    }
  }

  &.small &-activator {
    font-size: 12px;

    &-label {
      padding: 0 10px;
    }
  }

  &.active &-activator-arrow {
    transform: rotate(180deg);
  }

  &-activator.has-triangle::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    left: 23px;
    bottom: -9px;
    background: $white;
    border-left: 1px solid $line;
    border-bottom: 1px solid $line;
    transition: all .4s;
    transform: scaleY(0) translateY(50%) rotate(135deg);
  }

  &.active &-activator.has-triangle::after {
    bottom: 0;
    transform: scaleY(1) translateY(50%) rotate(135deg);
  }

  &-content {
    position: absolute;
    overflow: hidden;
    width: auto;
    min-width: 224px;
    z-index: 9;
  }

  &-content-list {
    overflow: auto;
    height: 100%;

    &>li {
      line-height: 1.4;
      margin-bottom: 10px;
      padding-right: 20px;

      &.active>a {
        color: $dark-blue;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &>a {
        text-decoration: unset;
        font-weight: normal;
        color: $htext;

        &:hover {
          color: $blue;
        }
        &:active {
          color: $dark-blue;
        }
      }
    }
  }

  &-content-container {
    padding: 20px;
    background-color: $white;
    @include bordered();
    @include shadowed();
    position: relative;

    &.has-triangle {
      &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        left: 22px;
        top: -1px;
        background: $white;
        border-left: 1px solid $line;
        border-bottom: 1px solid $line;
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }
}
