.modal {
  &-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    overflow: auto;
  }

  &-wrapper-showed {
    display: block;
  }

  width: 100%;
  top: 24%;
  max-width: 515px;
  margin: 0 auto;
  background-color: $white;
  padding: 47px;
  position: relative;

  &-close {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 17px;
    height: 17px;
    background: no-repeat center / 100% url('~/assets/img/close.svg');
    cursor: pointer;
  }
}
