.nav {
  &-ul {
    display: flex;
    height: 100%;
    justify-content: space-between;
  }

  &-vertical &-ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-vertical &-item {
    padding-bottom: 25px;
  }

  &-item {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    position: relative;

    &>*span {
      z-index: 0;
    }

    &>*::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: calc(100% + 10px);
      height: 8px;
      left: 50%;
      background-color: $blue;
      opacity: 0.3;
      transform: scaleX(0) translateX(-50%);
      transition: all 0.3s ease-in-out;
      z-index: 0;
    }

    &-active>*::before {
      transform: scaleX(1) translateX(-50%);
    }
  }
}
