.p {
  position: relative;
  font-size: 15px;
  line-height: 22px;

  &-excerpt {
    overflow: hidden;
  }

  &-excerpt::after {
   content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    max-height: 56px;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  }
}
