.section-seller {
  &-location-item {
    position: relative;
    transition: all .2s ease-in;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      width: 48px;
      height: 48px;
      z-index: 9;
      background: $blue no-repeat center / 50% url('~/assets/img/arrow-alt-white.svg');
      transform: translate(-100%, -50%) scaleY(0);
      transition: all .3s ease-in-out;
      cursor: pointer;
    }

    &:hover {
      &::after {
        transform: translate(-100%, -50%) scaleY(1);
      }
    }
  }
}
