.section-price {
  &-table-under-name {
    display: flex;
    padding-top: 15px;

    &-span {
      flex: 1 0 auto;

      &:first-child {
        flex: 0 0 auto;
        width: 60%;
      }
    }
  }
}
