.select {
  &-wrapper {
    position: relative;
    display: flex;
  }

  &-wrapper .form-element {
    font-size: inherit;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: inherit;
  }
}
