.site-menu {
  height: 48px;
  border-top: 1px solid $line;
  border-bottom: 1px solid $line;
  display: none;

  @include media-breakpoint-up('xl') {
    display: block;
  }

  &-container {
    height: 100%;
    display: flex;
  }

  &-item {
    height: 100%;
    flex: 0 0 auto;
    width: auto;
  }

  &-search {
    display: flex;
    width: 286px;
  }

  &-nav {
    flex: 1 0 0%;
  }

  &-action {
    display: flex;
  }
}
