.social {
  display: flex;
  &-item-container {
    display: inline-block;
    border-left: 1px solid $line;
    border-top: 1px solid $line;
    border-bottom: 1px solid $line;

    &:last-child {
      border-right: 1px solid $line;
    }
  }

  &-item {
    padding: 10px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up('sm') {
      padding: 12px;
    }
  }

  &-image {
    width: 17px;
    height: 17px;

    @include media-breakpoint-up('sm') {
      width: 23px;
      height: 23px;
    }
  }
}
