.table {
  &-wrapper {
    width: 100%;
    line-height: 1.4;

    td, th {
      padding: 16px 20px;
    }
  }

  &-wrapper thead th {
    border-bottom: 2px solid $htext;
    text-align: left;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 9px;

    @include media-breakpoint-up('lg') {
      font-size: 10px;
    }

    @include media-breakpoint-up('sm') {
      font-size: 12px;
    }
  }

  &-wrapper tbody td {
    border-bottom: 1px dashed $line;
    text-align: left;
    font-size: 12px;

    @include media-breakpoint-up('sm') {
      font-size: 14px;
    }
  }

  &-wrapper tbody tr {
    &:nth-child(odd) td {
      background-color: $grey;
    }
  }

  &-wrapper table {
    width: 100%;
    border-spacing: 0;
  }
}
