.title {
  font-size: 18px;
  line-height: 1.4;
  position: relative;
  font-weight: bold;

  @include media-breakpoint-up('md') {
    font-size: 22px;
  }

  &-accent {
    padding-left: 17px;
  }

  &-accent::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
    background-color: $blue;
  }
}
