.top {
  position: fixed;
  bottom: 189px;
  right: 62px;
  width: 40px;
  height: 40px;
  background: $blue no-repeat 50% 50% / 50% url('~/assets/img/arrow-alt-white.svg');
  transition: all .3s ease-in-out;
  cursor: pointer;
  transform: rotate(-90deg);
  display: none;

  @include media-breakpoint-up('sm') {
    bottom: 62px;
    display: block;
  }

  @include media-breakpoint-up('xl') {
    bottom: 189px;
    display: block;
  }

  &:hover {
    background: $dark-blue no-repeat 60% 50% / 50% url('~/assets/img/arrow-alt-white.svg');
  }
}
