<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Webpack Template</title>
  </head>
  <body>
    <div id="app">
      <%= require('~/includes/header.ejs')() %>
      <%= require('~/includes/main.ejs')() %>
      <%= require('~/includes/footer.ejs')() %>
      <%= require('~/includes/to-top.ejs')() %>
      <%= require('~/includes/aside.ejs')() %>
      <%= require('~/includes/modals.ejs')() %>
    </div>
  </body>
</html>
