<template>
  <canvas ref="canvas"></canvas>
</template>
<script>
/* eslint-disable no-underscore-dangle */
import { Line, mixins } from 'vue-chartjs';
import Chart from 'chart.js';

const { reactiveProp } = mixins;

export default {
  extends: Line,
  mixins: [reactiveProp],
  props: ['options'],
  mounted() {
    // this.chartData is created in the mixin.
    // If you want to pass options please create a local options object
    this.renderChart(this.chartData, this.options);
  },
  methods: {
    renderChart(data, options) {
      Chart.defaults.global.defaultFontFamily = '"IBM Plex Sans", sans-serif';
      if (this.$data._chart) this.$data._chart.destroy();
      if (!this.$refs.canvas) throw new Error('Please remove the <template></template> tags from your chart component. See https://vue-chartjs.org/guide/#vue-single-file-components');
      this.$data._chart = new Chart(
        this.$refs.canvas.getContext('2d'), {
          type: 'line',
          data,
          options,
          plugins: this.$data._plugins,
        },
      );
    },
  },
};
</script>

<style>
</style>
