<template>
  <div ref="map" class="map"></div>
</template>

<script>
export default {
  data() {
    return {
      key: process.env.VUE_APP_YMAP_KEY,
      map: null,
      ymaps: null,
      yMapScript: null,
      objects: [
        {
          location: [55.684758, 37.738521],
          text: 'description',
        },
        {
          location: [55.833436, 37.715175],
          text: 'description',
        },
        {
          location: [55.687086, 37.529789],
          text: 'description',
        },
        {
          location: [55.782392, 37.614924],
          text: 'description',
        },
        {
          location: [55.642063, 37.656123],
          text: '<strong>description</strong>',
        },
      ],
    };
  },
  methods: {
    loadYmaps() {
      return new Promise((resolve, reject) => {
        const src = `https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=${this.key}`;
        this.yMapScript = document.createElement('script');
        this.yMapScript.setAttribute('src', src);
        document.body.appendChild(this.yMapScript);

        this.yMapScript.onload = resolve;
        this.yMapScript.onerror = reject;
      });
    },
    initMap() {
      window.ymaps.ready(this.onReadyMap);
    },
    onReadyMap() {
      this.ymaps = window.ymaps;
      this.createMap();
      this.placeObjects();
    },
    createMap() {
      const mapContainer = this.$refs.map;
      if (!mapContainer) return;
      this.map = new this.ymaps.Map(mapContainer, {
        center: [55.76, 37.64],
        zoom: 10,
      }, {
        searchControlProvider: 'yandex#search',
      });
    },
    placeObjects() {
      this.objects.forEach((obj) => {
        this.map.geoObjects.add(new this.ymaps.Placemark(
          obj.location,
          {
            balloonContent: obj.text,
          },
          {
            preset: 'islands#circleDotIcon',
            iconColor: '#5893FB',
          },
        ));
      });
    },
    removeMap() {
      this.map = null;
      this.ymaps = null;
      if (this.yMapScript) this.yMapScript.parentNode.removeChild(this.yMapScript);
      this.yMapScript = null;
    },
  },
  mounted() {
    this.loadYmaps()
      .then(() => this.initMap());
  },
  destroyed() {
    this.removeMap();
  },
};
</script>

<style lang="scss">
  .map {
    width: 100%;
    height: 510px;

    [class*="ymaps-2"][class*="-ground-pane"] {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
    }
  }
</style>
